@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}


body {
    background-color: rgba(0, 0, 0, 0.8);
  }

a {
  text-decoration: none;
  color: #fff;

}

i {

  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 10px;
}

.btn {
  margin-left: 5rem;
  margin-right: 3.3rem;
  padding: 8px 27px;
  border-radius: 4;
  border: none;
  font-weight: 400;
  background-color: #e9b913;
  color: #fff;
  white-space: nowrap;
}

.btn:hover {
  background-color: #e9b913;
  color: #fff;
  

}

.carousel-img {
  height: 95vh;
  border-radius: 0;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Adjust the opacity as needed */
}

.carousel-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: visible;
  opacity: 1;
  width: 70%;
}
.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 40px;
  height: 40px;
}

.logo-name {
  margin-left: 10px;

  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.logo {
  animation: bounce 1s infinite alternate;
}

.logo-name span {
  font-size: 17px;
  margin-top: 0;
  padding-top: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link:hover {
  color: #e9b913;

}
.nav-link:visited {
  color: white;
}
.collapse {
  background-color: transparent;

}

.navbar-collapse a {
  cursor: pointer;
}


.navbar-toggler {

 background-color: #fff;

}


.white-icon {
  color: white; /* Set the color to white */
}
.navbar-scrolled {
  background-color: white !important;

}

.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.scrolled .navbar-nav .nav-link {
  color: black !important;
}


.scrolled .navbar-brand .logo-name {
  color: black;
}

.dropdown-menu {
 
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 30px 20px 2px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.dropdown-item {
  color: #fff;



}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow:0 2px 4px rgba(154, 53, 236, 0.384);
  color: #fff;
  margin-left: 5px;


}

.carousel-caption {


  margin-top: -25px;
}

.carousel-caption h3 {
  font-size: 2.5rem;
  /* Adjust font size */
}

.carousel-caption p {
  font-size: 1.5rem;
  white-space: wrap;
  /* Adjust font size */
}

.faqs{
  background-color: #1c1c1c;
  color: #fff;
  min-height: 80vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 2.5rem;
  margin: 2rem 0rem;

}
.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;

}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.2rem;

}
.answer {
  max-height: 0;
  overflow: hidden;
  transition:  max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.faq.active .answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active i{
  transform: rotate(180deg);
}

i{
  transition: transform 0.5s ease-in;
}

@keyframes fade{
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.touch{
 
  background-color: rgba(5, 12, 53, 0.7);
}
.form-control {
  overflow: hidden;
  resize: none; /* Prevents manual resizing */
}

.image-area{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-area img{
  width: 80%;
}
.form-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.form-header{
  color: #c97440;
}
input, textarea{
  border: none !important;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.05);
}

input:focus, textarea:focus{
  outline: 0 !important;
  box-shadow: none !important ;
  border: 1px solid #f1a779 !important;

}

.faqs{
  background-color: #1c1c1c;
  color: #fff;
  min-height: 80vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 2.5rem;
  margin: 2rem 0rem;

}
.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;

}
.get-in-touch h1{
  color: #e9b913;
  font-weight: 600;
  
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.2rem;

}
.answer {
  max-height: 0;
  overflow: hidden;
  transition:  max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.faq.active .answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active i{
  transform: rotate(180deg);
}

i{
  transition: transform 0.5s ease-in;
}

@keyframes fade{
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}



/* media queries */

@media (max-width: 1196px) {
  .logo {
    margin-right: 40px;
    padding-right: 0;

  }

  .nav-item {
    margin: 0 4px 0 4px;
  }

  .carousel-item img {
    width: 100%;

    height: 70vh;

  }
  
}


@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 7vh;
    margin-left: -20px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  .scrolled .navbar-collapse{
    background-color: #fff;
  }
  .scrolled .dropdown-menu {
 
  
    background-color: #fff;
   
  
  }
  
  .scrolled .dropdown-item {
    color: #1c1c1c;
  
  
  
  }
}


@media (max-width: 798px) {

  .nav-item {
    margin-left: 2.5rem;
  }

  .btn {
    margin-left: 2rem;
  }

  .carousel-item img {
    width: 100%;

    height: 60vh;

  }
  
  .carousel-caption {

    width: 100%;

    padding: 20px;
    margin-top: -15px;
  }

  .carousel-caption h3 {
    font-size: 1.5rem;
    /* Adjust font size */
  }

  .carousel-caption p {
    font-size: 0.9rem;
    white-space: wrap;
    /* Adjust font size */
  }

  .carousel-caption button {
    font-size: 1rem;
    /* Adjust font size */
  }



  .navbar-brand {

    font-size: 2rem;

    margin-left: 1.5rem;
  }

  .navbar-collapse {
    position: absolute;
    top: 6vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }

 
  .title{
    font-size: 2.2rem;
    margin: 2rem 1rem;
    white-space: nowrap;
  
  }
  .faq{
    max-width: 500px;
   
    margin: 2rem 3rem 0 3rem;
    padding-bottom: 1rem;
    
  
  }
  
  
  
  .question h3{
    font-size: 1.2rem;
  
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    transition:  max-height 1.4s ease;
  }
  .answer p {
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
  }
  
  .faq.active .answer{
    max-height: 300px;
   
  }
  
  .about{
    margin: 0px;
  }
  .about-container{
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .about-content{
    width: 100%;
    margin: 35px 0px;
  }
  .about-content h2{
    font-size: 30px;
  }
  .about-content p{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-content button{
    font-size: 16px;
    padding: 8px 16px;
  }

  .about-img{
    width: 100%;
  }

}


@media (max-width: 480px) {

  .navbar-brand {
    margin-left: 0;
  }

  .logo svg {
    height: 2.3rem;
    margin-left: 0;
  }

  .logo-name {
    font-size: 1.5rem;
  }

  .navbar-toggler {

    padding: 3px 6px;
  }
  
  .navbar-toggler-icon {
    width: 25px;
  }
  
  .carousel-item img {


    height: 40vh;

  }

  .carousel-caption {
    width: 100%;
    padding: 13px;
    margin-top: -15px;

  }

  .carousel-caption h3 {
    font-size: 18px;
    white-space: nowrap;
  }

  .carousel-caption p {

    margin: 10px;
    font-size: 13px;
  }

  .carousel-caption button {
    font-size: 0.7rem;
    /* Adjust font size */
    white-space: wrap;
    padding: 7px 13px;

  }


  .title{
    font-size: 1.6rem;
    margin: 2rem 1rem;
    white-space: nowrap;
  
  }

  .faq{
    max-width: 500px;
   
    margin: 2rem 3rem 0 3rem;
    padding-bottom: 1rem;
    
  
  }
  
  
  
  .question h3{
    font-size: 1rem;
  
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    transition:  max-height 1.4s ease;
  }
  .answer p {
    padding-top: 1rem;
    line-height: 1.3;
    font-size: 0.9rem;
  }
  
  .faq.active .answer{
    max-height: 300px;
   
  }
  
  
}